* {
    margin: 0;
}
.wrapper {
    min-height: 100%;
    height: auto !important;
    height: 50%;
    margin: 0 auto -130px;
}

html, body {
    height: 100%;
}

body {
    color: #6d689b;
    background-color: rgba(0, 0, 0, 0.79);
    font-family: Georgia, 'Times New Roman', Times, serif;
    letter-spacing: 1px;
}

#titlebackground {
    position: relative;
    top: 10px;
    line-height: 100px;
    text-align: center;
    background-color: black;
    opacity: 0.5;
}

#titletext {
    position: relative;
    bottom: 93px;
    font-size: 80px;
    line-height: 100px;
    text-align: center;
}

#particles-js {
    position: fixed;
    width: 110%;
    height: 110%;
    background-color: rgba(17, 17, 17, 0.01);
}